* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: Arial;
}

@keyframes inicio {
    0% {left: -200%; opacity: 0;}
    100% {left: -0%; opacity: 0,5;} 
}

@keyframes cards {
    0%{height: 0px;}
    50%{height: 100px;}
    100%{height: 200px;}
}

@keyframes button {
    0%{background-color: #629de0;}
    50%{background-color: #629de0d8;}
    100%{background-color: #629de0c5;}
}

.page {
    position: absolute;
    animation-name: inicio;
    animation-duration: 1s;
}

body {
    background-color: #171728;
}

header {
    color: #629CE0;
    padding: 20px;
}

header > p {
    margin-left: 20px;
}

#about {
    background-color: #212135;
    color: #F5F5F5;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.column-reverse {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.about-text {
    display: flex;
    flex-direction: column;
}

.a1 {
    font-size: 25px;
    margin: 10px;
}

.a2 {
    font-size: 40px;
    margin: 10px;
}

.a3 {
    width: 100%;
    max-width: 400px;
    margin: 10px;
}

#my-photo {
    width: 100%;
    max-width: 200px;
    height: 200px;
    border-radius: 200%;
    background-color: #629CE0;
    background-image: url("img/Screenshot_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 110%;
}

.container-buttons {
    margin-top: 20px;
}

#button-download {
    margin: 15px;
    padding: 10px 40px 10px 10px; /* ajuste o valor conforme necessário para controlar a largura do botão */
    border-radius: 8px;
    border: none;
    background-color: #629CE0;
    color: white;
    background-image: url("img/download.svg");
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: auto 70%;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
}

#button-download:hover {
    transform: scale(1.04);
    animation-name: button;
    animation-duration: 0.5s;
    background-color: #629de0c5;
}

#sessao-dois {
    background-color: #212135;
    margin-top: 100px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.session-name {
    color: #629CE0;
    margin-bottom: 20px;
}

.texts {
    color: #ffff;
}

.apresentacao {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.anos {
    font-size: 90px;
    margin-right: 20px;
    color: #629CE0;
}

.cards {
    width: 100%;
    margin-top: 50px;
}

.coluna-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 100%;
    max-width: 200px;
    height: 200px;
    background-color: #629CE0;
    margin: 5px;
    position: relative;
    border-radius: 10px;
    animation-name: cards;
    animation-duration: 0.9s;
    transform: scale(1);
}

.card:hover {
    transform: scale(1.02);
}

.card1 {
    background-image: url("img/cypress.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 50%;
}

.card2 {
    background-image: url("img/javascript-js-square.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 50%;
}

.card3 {
    background-image: url("img/cogs.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 50%;
}

.card4 {
    background-image: url("img/github.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 50%;
}

.descricao-card {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* background-color: #b1b1ce; */
    color: #171728;
    border-radius: 2px;
    font-weight: bold;
    font-size: 15px;
}

.descricao-card > p {
    padding: 5px;
}


#sessao-tres {
    background-color: #212135;
    margin-top: 100px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.card-services {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cardS {
    width: 100%;
    max-width: 500px;
    height: 100px;
    border: 2px solid #629CE0;
    margin: 0; 
    padding: 0;
    margin: 10px;
    border-radius: 8px;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardS > p {
    padding-left: 60px;
    margin: 5px;
}

.card-name {
    font-weight: bold;
    font-size: 20px;
}

.description {
    font-size: 15px;
}

.cardS1 {
    background-image: url("img/checkmart.svg");
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: auto 40%;
}

.cardS2 {
    background-image: url("img/laptop-checkmark-check-advertisement.svg");
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: auto 27%;
}

.cardS3 {
    background-image: url("img/automation.svg");
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: auto 40%;
}

.cardS4 {
    background-image: url("img/regressao.svg");
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: auto 40%;
}

#sessao-quatro {
    background-color: #212135;
    margin-top: 100px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha-contato {
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: white;
    padding: 10px;
    flex-wrap: wrap;
}

.linkedin {
    background-image: url("img/brandico_linkedin-rect.svg");
    background-repeat: no-repeat;
    background-position: 0;
    background-size: auto 100%;
    p{
        padding-left: 30px;
        font-size: 20px;
    }
}

.email {
    background-image: url("img/dashicons_email.svg");
    background-repeat: no-repeat;
    background-position: 0;
    background-size: auto 100%;
    p{
        padding-left: 30px;
        font-size: 20px;
    }
}

.whatsapp {
    background-image: url("img/bi_telephone-fill.svg");
    background-repeat: no-repeat;
    background-position: 0;
    background-size: auto 100%;
    p{
        padding-left: 30px;
        font-size: 20px;
    }
}

.whatsapp:hover, .linkedin:hover, .email:hover {
    transform: scale(1.09);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .main {
        width: 100%;
        justify-content: start;
    }

    .about-text {
        margin-top: 15px;
    }

    .coluna-cards {
        align-items: center;
        justify-content: center;
    }

    .column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .apresentacao  {
        display: flex;
    }

    .cardS {
        width: 300px;
        height: 150px;
        margin-left: 0;
        margin-right: 0;
    }

    .linha {
        flex-direction: column;
        align-items: center;
    }

    .cardS > p {
        padding-left: 80px;
    }

    #sessao-tres {
        padding: 0;
    }

    .linha-contato {
        justify-content: start;
    }

    .whatsapp, .linkedin, .email {
        margin-top: 15px;
    }
}